header {

    position: relative;
    max-height: 670px;
    width: 100%;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
}

.header-content-wrapper {
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 0;
}

.header-content {
    max-width: 1220px;
    width: 100%;
    margin: 250px auto;
    color: white;
}

.header-content p {
    width: 100%;
    max-width: 500px;
    min-width: 340px;
}

.banner-headline, .header-content p {
    text-shadow: 1px 1px 6px black;
}

.header-content * {
    margin: 24px 0
}

.byline {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
}

.byline::before {
    display: inline-block;
    content: '';
    width: 48px;
    height: 2px;
    background: var(--blue-grey);
    margin-right: 24px;
}

#section1 .section-right-img {
    border-radius: 8px;
    margin-top: -300px;
    height: 475px;
}

.section-right-img img {
    transform: translate(-280px, -260px) scale(0.75, 0.75);
}

#section2 {
    background: var(--light-green);
}

#section3 .section-content-left {
    grid-column-end: 5;
}

#section3 .section-content-right {
    grid-column-start: 7;
}

#section3 h2 {
    grid-column-start: 7;
    grid-column-end: 13;
}

@media only screen and (max-width: 1366px) {
    .header-content {
        max-width: 1024px;
        margin: 20% auto;
    }
    #section3 .section-content-left {
        grid-column-end: 6;
    }
}

@media only screen and (max-width: 1024px) {
    .header-content {
        padding: 0 80px;
    }

    .section-right-img img {
        transform: translate(-40px, -80px) scale(1, 1);
    }

    #section1 .section-right-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 67.6vw; /* Proportions for a portrait are 8 by 10 --> 8/10 = 0.8 | 8/0.8 = 10 ==> 380/1920 = 19.8% of screen width. 19.8/0.8 = 24.75% of screen width, which is gonna  be the height of the portrait.*/
        margin: 0;
        width: 100%;
        margin-bottom: 32px
    }

    #section1 h2, #section3 h2 {
        order: 3;
        flex: 1 0 100%;
    }

    #section1 .section-content,
    #section3 .section-content {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    #section2 .section-content-left,
    #section3 .section-content-right {
        margin-bottom: 40px;
    }

     
}

@media only screen and (max-width: 766px) {
    .header-content {
        padding: 0 16px;
    }  
    .section-right-img img {
        transform: translate(-30px, -60px) scale(0.9, 0.9);
    }
}

@media only screen and (max-width: 500px) {
    .section-right-img img {
        transform: translate(-30px, -60px) scale(0.7, 0.7);
    }
}