

header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: red;
}

.menu-icon {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon div {
  height: 5px;
  width: 100%;
  background: white;
}

.nav-items {
  position: fixed;
  display: none;
  flex-direction: column;
  
  background: blue;
  right: 0;
  left: 0;
  bottom: 0%;
  top: 60px;

  list-style: none;
  
  font-size: 25px;
}

.nav-items li {
  padding: 10px 20px;
  
  display: inline-block;
}

.nav-items li:hover {
  background: blanchedalmond;
}



.main__article {
  display: flex;
  flex-direction: column;
  border: 1px solid red
}

.main__article__title {
  padding: 140px 20px;
  border: 1px solid black;
  background: burlywood;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__article__title p {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.main__article__title h1 {
  font-size: 50px;
  
}

.main__article__content {
  padding: 20px;
  background: #8abf67
}

.main__article__content h2 {
  font-size: 36px;
  margin-top: 20px;
}

.main__article__content p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
 
}

.main__article__content ul {
  list-style-position: inside;
  margin-top: 10px;
}