/* Styling for large elements that will be reused in many sub sites. Like Navbar and Footer */

nav {
  height: 100px;
  width: 100%;
  background: #ACD1B6;
}

.nav-wrap {
  max-width: 1220px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.nav-buttons li a {
  color: var(--blue-grey);
  padding: 50px 24px;
}

section {
  width: 100%;
  padding: 160px 0;
}

.section-content {
  width: 100%;
  max-width: 1220px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}

.section-content-left {
  grid-column-start: 1;
  grid-column-end: 7;
}

.section-content-right {
  grid-column-start: 9;
  grid-column-end: 13;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.section-content-left > *:not(:last-child) {
  margin-bottom: 24px;
}

.section-content-right > *:not(:last-child) {
  margin-bottom: 24px;
}

.bullet-points {
  background: white;
  padding: 40px;
  border-radius: 8px;
  background: var(--blue-grey);
  color: white;
}

.bullet-points li {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.bullet-points li:last-child {
  margin-bottom: 0;
}

.bullet-points li::before {
  display: inline-block;
  content: '';
  width: 1em;
  height: 1em;
  background: var(--dark-green);
  border-radius: 50%;
  margin-right: 1em;
}

footer {
  background: var(--light-green);
}

.footer-content {
  width: 100%;
  max-width: 1220px;
  margin: auto;
  padding: 40px 0;
  color: var(--blue-grey);
}

.footer-content address {
  float: right;
}

.footer-splitter-line {
  height: 5px;
  width: 100%;
  background: var(--dark-green);
  margin: 24px 0;
}

.footer-content .contact-info {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.footer-content .contact-info:last-child {
  margin-bottom: 0;
}

.footer-content address {
  text-align: right;
}