#section2 .section-content {
    display: flex;
    flex-wrap: wrap;
}

.service-card {
    width: 380px;
    background: var(--light-green);
    border-radius: 8px;
    padding: 32px 16px;
    flex: 0 0 auto;
    position: relative;
}

.service-card img {
    width: 100%;
}

.service-card h2 {
    margin-bottom: 32px;
    color: var(--blue-grey);
}

.service-card p {
    margin: 16px 0 32px 0;
}

@media only screen and (max-width: 1024px) {
    #section1 .section-content-left {
        margin-bottom: 40px;
    }

    #section2 .section-content {
        column-gap: 40px;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x proximity;
        scroll-behavior: smooth;
    }

    .service-card:last-child::after {
        width: 80px;
        height: 80px;
        content: '';
        position: absolute;
        right: -80px;
        bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .service-card:last-child::after {
        width: 16px;
        right: -16px;
    }
    
    .service-card {
        width: 274px;
        padding: 24px 16px;
    }

    .service-card p {
        margin: 16px 0;
    }
}