/*Typography, colors, buttons. The smallest sub-components the site is made of goes in here.*/

:root {
    --light-green: #ACD1B6;
    --dark-green: #408E61;
    --blue-grey: #40676E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-transition: 237ms ;
  -moz-transition: 237ms ;
  -o-transition: 237ms ;
  transition: ease-out 237ms ;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

.banner-headline {
  font-weight: 700;
  font-size: 50px;
}

.headline1 {
  grid-column: 1 /span 7;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  color: var(--blue-grey);
  letter-spacing: 0.2em; /* letter spacing in Adobe XD is 1/1000th em, and i was using 200. Hence 200*0.001 = 0.2em */
}

ul {
  list-style-type: none;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--dark-green);
}

p {
  line-height: 19px;
}

br {
  margin-bottom: 8px;
}

.btn {
    font-size: 16px;
    display: block;
    width: max-content;
    padding: 14px 30px;
    border-radius: 3px;
    font-weight: 500;
}

.btn-green {
    background: var(--light-green);
    color: var(--blue-grey);
}

.btn-blue {
    background: var(--blue-grey);
    color: white;
}

@media only screen and (max-width: 1024px) {
  .headline1 {
    font-size: 28px;
  }

  .banner-headline {
    font-size: 42px;
  }
}

@media only screen and (max-width: 450px) {
  .headline1 {
    font-size: 24px;
  }
  
  .banner-headline {
    font-size: 34px;
  }
}