/* Styling for large elements that will be reused in many sub sites. */

nav {
  height: 100px;
  width: 100%;
  background: #ACD1B6;
}

.nav-wrap {
  max-width: 1220px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.nav-buttons li a {
  padding: 50px 24px;
}